.App {
  text-align: center;
}

.welcomepage{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.links{
  border: solid 1px black;
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#conversation-head {
  text-align: center;
  color: aliceblue;
  background: #248bf5;
  padding: 4%;
  font-family: "SanFrancisco";
}

#conversation-body {
  padding: 2%;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
}

#message {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
  border-radius: 0.38rem;
  padding: 1%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#name {
  margin-left: 5px;
}