body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: "Arial";
  text-align: center;
}
.user_container {

  width: 30vw;
  border: 5px solid red;
  text-align: center;
}

.profile_pic {
  width: 30vw;
  height: auto;
}

.profile_pic_image {

  position: relative;
  width: 30vw;
  height: auto;
  display: block;

}

.project_container {
  word-wrap: break-word;
  text-align: left;
}