body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: "Arial";
  text-align: center;
}
.user_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20;
  border: 2px solid red;
}

.profile_pic {
  width: 70%;
  height: auto;
}

.profile_pic_image {
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.project_container {
  word-wrap: break-word;
  text-align: left;
}

.like_dislike_buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  border-radius: 20px;
  font-size: 20px;
  color: black;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}